<%- include('includes/header') %>

<div class="container reg-page">
  <% if (locals.errors){ %>
    <% errors.forEach(function(error){ %>
      <div class = "alert alert-danger"> <%=error.msg%></div>
    <%})%>
  <% } %>
      <form method = "post" action ="/users/register" class="form-signin">
        <h2 class="form-signin-heading text-center"> User Registration</h2>
        <label for="name" class="sr-only">name</label>
        <input type="text" name="name" class="form-control" placeholder="Name" value="<%= (!!locals.name)?name:'' %>" required autofocus>
        <br>
        <label for="email" class="sr-only">email</label>
        <input type="text" name="email" class="form-control" placeholder="Email" value="<%= (!!locals.email)?email:'' %>"  required autofocus>
        <br>
        <label for="username" class="sr-only">username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" value="<%= (!!locals.username)?username:'' %>"  required autofocus>
        <br>
        <label for="password" class="sr-only">password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" value="<%= (!!locals.password)?password:'' %>"  required autofocus>
        <br>
        <label for="confirm_password" class="sr-only">confirm Password</label>
        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password"value="<%= (!!locals.confirm_password)?confirm_password:'' %>"  required autofocus>

        <p>Have Account? <a href='/users/login'> Sign in </a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>


<%- include('includes/footer') %>
